<script type="text/javascript" src="popup.js"></script>
<style>
	pre {
		white-space: nowrap;
		width: 100%;
        min-width: 100px;
		padding: 2px;
		margin: 0;
	}

    span.event-info {
        cursor: default;
        color: blue;
    }

    span.event-info:hover {
        cursor: pointer;
		text-decoration: underline;
	}
</style>
<pre>
    <span id="smells">
         <span class="event-info" data-element-id="_elementId_" role="element-shower">
                 _eventName_ (_eventLength_)
         </span>
    </span>
    <br><a href="#" id="show-in-console">View in site console</a>
    <br><a href="#" id="clear">Clear</a>
</pre>